.todo-item {
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 10px 0;
}

.todo-item-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-item-header .fa-pencil {
  color: #4caf50;
  margin-right: 10px;
}

.todo-item-header .fa-trash {
  color: #f44336;
}

.todo-item-header i {
  cursor: pointer;
}

.todo-item h4 {
  display: inline-block;
  padding: 0 10px;
}

.todo-item h4,
p {
  margin: 0;
}

.todo-item p {
  font-size: 14px;
  color: #555;
}

.todo-completed {
  opacity: 0.5;
}

.todo-completed h4,
.todo-completed p {
  text-decoration: line-through;
}

.title-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
