.card-tasks {
    width: 80%;
    min-width: 350px;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px 20px;
    margin: 0 auto;
    border-radius: 15px;
}

.separator {
    width: 100%;
    /* border: 2px solid rgba(0, 0, 0, 0.15);
     */
    background-color: rgba(0, 0, 0, 0.15);
    height: 2px;
    margin: 10px auto;
}
  
.list-container {
    padding: 20px 0;
}